body {
  background: $body;
  color: #d5d4da;
  position: relative;
}

.gradient {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
