
@media screen and (max-width: 767px) {
    .last-u {
        font-size: 24px;
    }
    .last-price-p {
        font-size: 24px;
    }
    .currency-p {
        font-size: 12px !important;
    }
    .profitable-p {
        font-size: 18px;
    }
    .view-more-outer {
        padding-top: 30px;
    }
    .view-more-outer a {
        background-color: #fff;
        color: #000;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        border-radius: 4px;
        margin-top: 20px;
    }

    .banner-caption-ts h2 {
        font-size: 28px;
        line-height: 28px;
    }
    .anx-mob-bg {
        background-color: #2c274c !important;
        border-radius: 0 !important;
    }
    .banner-caption-ts h2.annex-yellow-heading {
        font-size: 28px;
        line-height: 28px;
    }
    .banner-caption-ts p {
        font-size: 18px;
    }
    .um-about-section .trading-pr-heading {
        font-size: 30px;
    }
    .container_header {
        padding-left: 0;
        padding-right: 0;
    }
 
    .Annex-28-text {
        font-size: 20px;
    }
    .Annex-sec-heading {
        font-size: 28px !important;
        line-height: 55px;
    }
    .annex-yellow-heading{
        font-size: 28px !important;
        line-height: 55px !important;
    }
    .decent-trading-pr.trading-pr-heading{
        font-size: 28px !important;
    }
    .Annex-sec-heading-side {
        font-size: 28px;
        line-height: 55px;
    }
    .curency-crd-main {
        padding: 25px 14px;
        margin: 18px 0;
    }

    .proto-img {
        margin-left: -30px;
        max-WIDTH: calc(100% + 30px);
    }
    .frontside .card {
        margin: 10px 25px;
    }
    .ts-btn-gr,
    .bg-dr-blue-btn {
        font-size: 16px;
        padding: 8px 12px;
        min-width: 150px;
    }
    .market-ul-inner {
        flex-direction: column;
    }
    .market-ul-inner li {
        margin: 10px 0;
    }
    .footer-nav {
        float: left;
        width: 100%;
        margin-top: 10px;
    }
    .annex-social {
        justify-content: space-around;
        margin: 10px 0;
    }
    .footer-text-area p {
        flex-wrap: wrap;
    }
    #about,
    .features {
        padding: 30px 0 30px 0;
    }
    .right-content {
        margin-top: 30px;
    }
    .taswit-heading-one {
        font-size: 30px;
    }
    p {
        font-size: 14px;
    }

    .mob-bg {
        border-radius: 10px;
        margin-top: 5px;
    }

    .footer-nav li {
        border-bottom: 0 !important;
    }

    .footer-logo img {
        max-width: 180px !important;
    }
    .annex-inner-text{
        font-size: 16px;
    }
    .saving-outer{
        padding-top: 30px !important;
    }
    .curcy-name{
        font-size: 19px;
    }
    .currency-p.curcy-name-rt2{
        font-size: 21px;
    }
    .curcy-percent{
        font-size: 12px;
    }
}
